# Ignorar todo por defecto
*

# Conservar estructura de carpetas
!*/

# Mantener solo código y archivos específicos
!.gitignore
!Makefile
!*.c
!*.cc
!*.cpp
!*.h
!*.hpp

# (Opcional) permitir README/markdown, configs
!*.md
!.clang-format

# Mantener explícitamente lo que sí quieres versionar
# (el resto, incluidos ejecutables, queda fuera)
